<!-- <h1>Autorization</h1>
<input type="text" [(ngModel)]="setUserName" />
<input type="text" [(ngModel)]="setUserPassword" />
<button (click)="func()">Confirm</button> -->
<form id="loginBox" [formGroup]="registerForm">
  <div>
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        formControlName="userName"
        required
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        placeholder="password"
        formControlName="userPassword"
        required
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <button mat-raised-button (click)="logIn()" [disabled]="!registerForm.valid">
    Login
  </button>
</form>
<!-- matInput
        placeholder="pat@example.com"
        [formControl]="email"
        formControlName="userName"
        required
        [(ngModel)]="form.setValue"
          routerLink="/dashboard" -->
