nav {
  position: sticky;
  display: flexbox;
  top: 0;
  background-color: #169e75;
}

nav ul {
  padding: 1em;
  margin: 0 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

::ng-deep mat-form-field {
  width: 150px;
  margin-right: 2em;
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

button {
  margin: auto 0;
  height: 56px;

  .fa-user-secret {
    font-size: 40px;
  }
}
