<nav>
  <ul>
    <mat-form-field>
      <mat-label>Select language</mat-label>
      <mat-select [(value)]="selected" (selectionChange)="changeLanguage()">
        <mat-option value="en">{{ "LANGUAGE.EN" | translate }}</mat-option>
        <mat-option value="ru">{{ "LANGUAGE.RU" | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button [matMenuTriggerFor]="menu">
      <i class="fa-solid fa-user-secret"></i>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>{{ "PROFILE.INFORMATION" | translate }}</button>
      <button mat-menu-item>{{ "PROFILE.SETTINGS" | translate }}</button>
      <button mat-menu-item>{{ "PROFILE.LOG OUT" | translate }}</button>
    </mat-menu>
  </ul>
</nav>
