nav {
  position: sticky;
  display: flexbox;
  top: 0;
  background-color: #169e75;
}

nav ul {
  padding: 1em;
  margin: 0 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

::ng-deep mat-form-field {
  width: 150px;
  margin-right: 2em;
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

button {
  margin: auto 0;
  height: 56px;

  .fa-user-secret {
    font-size: 40px;
  }
}

// select:hover {
//   background-color: #198467;
// }

// .dropdown {
//   position: relative;
//   display: inline-block;
//   padding: 0em 3em 0em 3em;
// }

// .dropbtn {
//   background-color: rgb(22, 158, 117);
//   color: #000000;
//   padding: 16px;
//   font-size: 16px;
//   border: none;
//   cursor: pointer;
// }

// .dropbtn:hover {
//   background-color: #198467;
//   border-radius: 6px;
// }

// .dropdown-content {
//   position: absolute;
//   display: flexbox;
//   background-color: #f1f1f1;
//   min-width: 160px;
//   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
//   z-index: 1;
// }

// .dropdown-content a {
//   color: black;
//   padding: 12px 16px;
//   text-decoration: none;
//   display: block;
// }

// .dropdown-content a:hover {
//   background-color: #ddd;
// }
