<nav> <ul>
        <select id="mySelect">
          <option value="en">{{'LANGUAGE.EN' | translate}}</option>
          <option value="ru">{{'LANGUAGE.RU' | translate}}</option>
        </select>
        <div class="dropdown">
        <button (click)="toggleCollapse()" class="dropbtn"><i class="fa-solid fa-user-secret"></i></button>
        <div *ngIf="!isCollapsed" class="dropdown-content">
            <a href="#">{{'PROFILE.INFORMATION' | translate}}</a>
            <a href="#">{{'PROFILE.SETTINGS' | translate}}</a>
            <a href="#">{{'PROFILE.LOG OUT' | translate}}</a>
        </div>
        </div>
      </ul></nav>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>
    <div>aa</div>