$primary: #048280;
$primary-light: #06bcb3;
$primary-dark: #304c5a;
$secondary: #e6d787;
$secondary-dark: #a47f62;
$secondary-light: #ffd473;
$third: #8b81c0;
$third-light: #bba0dc;
$third-dark: #512d7d;
